/* LoginPage.module.css */
.heroTitle {
  font-size: 48px;
  font-weight: 900;
  background: linear-gradient(90deg, rgb(246,1,65), rgb(255,174,0), rgba(10,158,140), rgba(9,142,200), rgb(4,54,89));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.otherTitle {
  font-size: 14px;
  font-weight: 400;
  background: linear-gradient(90deg, rgb(246,1,65), rgb(255,174,0), rgba(10,158,140), rgba(9,142,200), rgb(4,54,89));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
